*, *::before, *::after {
	box-sizing: border-box;
}

/**********************************/
/* 0. Variables
/* 1. General Styles
/* 2. Menu
/* 3. Header
/* 4. About
/* 5. Courses
/* 6. Membership
/* 7. Benefits
/* 8. Newsletter
/* 9. Footer
/**********************************/

/**********************************/
/* 0. Variables
/**********************************/
:root {
	--ff-primary: "Nunito", Helvetica, Arial, sans-serif;
	
	--clr--green-light: #0BF96A;
	--clr--green-dark: #049A40;
	--clr--pink-light: #F3A0FD;
	--clr--pink-dark: #E10BF9;
	--clr--white: #F5F5F5;
}
/**********************************/

/**********************************/
/* 1. General Styles
/**********************************/
body {
	background-color: var(--clr--white);
	font-family: var(--ff-primary);
}

a, a:hover, a:active, a:link, a:visited {
	text-decoration: none;
	color: black;
}

hr {
	border: none;
	background-color: var(--clr--pink-dark);
	height: 2px;
	width: 140px;
	margin: 20px auto;
}

p {
	line-height: 21.82px;
	padding: 10px;
}

.section__title {
	text-align: left;
	font-size: 3rem;
	padding: 10px;
}

img {
	display: block;
	max-width: 100%;
}
/**********************************/

/**********************************/
/* 2. Menu
/**********************************/
.menu-bg {
	background-color: var(--clr--green-light);
}

.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 100%;
	margin: 0 4%;
	flex-wrap: wrap;
}

.menu__logo {
	margin: 10px;
}

.nav__list {
	display: flex;
	flex-wrap: wrap;
}

.nav__link {
	padding: 20px 10px;
	margin-bottom: 10px;
	font-size: 1.3em;
}
/**********************************/

/**********************************/
/* 3. Header
/**********************************/
.intro {
	font-weight: bold;
	font-size: 3rem;
	text-align: center;
	margin: 0 auto;
	padding: 25px 0;
}
/**********************************/

/**********************************/
/* 4. About
/**********************************/
.about {
	max-width: 960px;
	margin: 0 auto;
}

.about-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.about-container__text {
	flex: 6 1 160px;
}

.about-container__img {
	flex: 1 1 350px;
}
/**********************************/

/**********************************/
/* 5. Courses
/**********************************/
.courses {
	max-width: 960px;
	margin: 0 auto;
}

.courses-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.course {
	width: 280px;
	margin: 0 20px;
}

.course__title {
	font-size: 1.5em;
	margin: 10px 0 5px 10px;
}
/**********************************/

/**********************************/
/* 6. Membership
/**********************************/
.membership-section {
	background-color: var(--clr--pink-light);
}

.membership-container {
	max-width: 960px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
}

.membership-section__title {
	text-align: center;	
	font-size: 3rem;
	padding: 10px;
}

.membership__title {
	font-size: 3rem;
	text-align: center;
	margin: 10px auto;
}

.membership {
	width: 290px;
	margin: 10px 10px;
	border: 2px solid var(--clr--green-light);
}

.membership__price {
	font-size: 3rem;
	display: block;
	text-align: center;
}

.membership__price sup {
	position: relative;
	font-size: 1.5rem;
	top: -20px;
}

.membership__hr {
	background-color: var(--clr--green-light);
	width: 20px;
	margin: 5px auto;
}

.membership-list {
	max-width: 195px;
	margin: 0 auto;
}

.membership-list__item {
	margin: 10px 0;
	font-style: italic;
	display: flex;
	align-items: center;
}

.membership-list__item::before {
	content: "";
	display: block;
	width: 5px;
	height: 5px;
	background-color: var(--clr--green-light);
	border-radius: 5px;
	margin-right: 5px;
}

.membership__btn-join {
	display: block;
	max-width: 180px;
	font-size: 2rem;
	margin: 15px auto;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	border: 2px solid var(--clr--green-light)
}

.membership:last-child {
	background-color: var(--clr--green-light);
}

.membership:last-child, .membership:last-child .membership__btn-join {
	border: 2px solid var(--clr--pink-dark)
}

.membership:last-child .membership-list__item::before, .membership:last-child .membership__hr {
	background: var(--clr--pink-dark)
}

@media (max-width: 800px) {
	.membership:nth-child(3) {
		order: -2;
	}

	.membership:nth-child(2) {
		order: -1;
	}
}
/**********************************/

/**********************************/
/* 7. Benefits
/**********************************/
.benefits {
	max-width: 960px;
	margin: 0 auto;
}

.benefits-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.benefit {
	max-width: 240px;
	margin: 10px;
}

.benefit__title {
	font-size: 1.7rem;
	margin-bottom: 5px;
	margin-left: 10px;
}

.benefit__title::before {
	content: "";
	display: inline-block;
	width: 10px;
	height: 25px;
	margin-right: 5px;
}

.benefit:nth-of-type(3n+1) .benefit__title::before {
	background: var(--clr--green-light);
}

.benefit:nth-of-type(3n+2) .benefit__title::before {
	background: var(--clr--pink-dark);
}

.benefit:nth-of-type(3n+3) .benefit__title::before {
	background: var(--clr--green-dark);
}

@media (max-width: 800px) {
	.benefit {
		max-width: 220px;
	}
}
/**********************************/

/**********************************/
/* 8. Newsletter
/**********************************/
.newsletter {
	background-color: var(--clr--green-light)
}

.newsletter-container {
	max-width: 960px;
	margin: 0 auto;
	padding: 50px 0;
	display: flex;
	flex-wrap: wrap;
}

.newsletter-info {
	flex: 1 1 260px;
	padding-left: 10px;
}

.newsletter-info__title {
	font-size: 2.62rem;
}

.newsletter-form {
	flex: 100% 1 260px;
	display: flex;
	flex-wrap: wrap;
}

.newsletter-form__input {
	flex: 3 1 260px;
	font-size: 1.25rem;
	width: 325px;
	color: black;
	font-family: var(--ff-primary);
	border: 30px solid var(--clr--pink-dark);
	padding: 10px;
	margin: 0;
	border-radius: 0px;
}

.newsletter-form__button {
	width: 250px;
	font-family: var(--ff-primary);
	font-size: 2.25rem;
	text-transform: uppercase;
	background: var(--clr--pink-dark);
	color: black;
	cursor: pointer;
	border: none;
	padding: 15px;
}
/**********************************/

/**********************************/
/* 9. Footer
/**********************************/

/**********************************/
